<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script charset="utf-8" src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
    <title>Sentiment Analysis</title>
</head>
<body>
    <div>
        <h1>Sentiment Analyser</h1>
    </div>
    <form method="POST">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="submits" id="submit_button">Submit URL</button>
            </div>
            <input name ="url" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <div>
            <p>{{sentiment_score}}</p>
        </div>
        <div id="radardiv">
            {{ radar_data | safe }} <!-- Embed the radar chart -->
        </div>
        <div>
            <p>{{ url_text }}</p>
        </div>
    </form>
</body>
</html>